<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12"> 
			<h2 class="page-header">修改密码</h2>
		</div>
	</div>

	<div class="row"> 
		<div class="col-lg-5">
			<form rol="form" name="updatePasswordForm">
				<div class="form-group" ng-class="{'has-error':updatePasswordForm.oldPassword.$invalid && !updatePasswordForm.oldPassword.$pristine}">
					<label><font color="red">*</font>旧密码:</label>
					<input type="password" class="form-control" placeholder="请输入旧密码" ng-model="oldPassword" name="oldPassword" required>
					<p ng-show="updatePasswordForm.oldPassword.$invalid && !updatePasswordForm.oldPassword.$pristine" class="help-block">请输入旧密码。</p>
				</div>
				<div class="form-group" ng-class="{'has-error':updatePasswordForm.newPassword.$invalid && !updatePasswordForm.newPassword.$pristine}">
					<label><font color="red">*</font>新密码:</label>
					<input type="password" class="form-control" placeholder="请输入新密码" ng-model="newPassword" name="newPassword" required> 
					<p ng-show="updatePasswordForm.newPassword.$invalid && !updatePasswordForm.newPassword.$pristine" class="help-block">请输入新密码。</p>
				</div>
				<div class="form-group" ng-class="{'has-error':updatePasswordForm.repeatNewPassword.$invalid && !updatePasswordForm.repeatNewPassword.$pristine}">
					<label><font color="red">*</font>确认新密码:</label>
					<input type="password" class="form-control" placeholder="请再次输入新密码" ng-model="repeatNewPassword" name="repeatNewPassword" required> 
					<p ng-show="updatePasswordForm.repeatNewPassword.$invalid && !updatePasswordForm.repeatNewPassword.$pristine" class="help-block">请再次输入新密码。</p>
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-primary" ng-disabled="updatePasswordForm.$invalid" ng-click="updatePassword()">&nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;</button>
					<button type="button" class="btn btn-info" ng-click="reset()">&nbsp;&nbsp;重&nbsp;&nbsp;置&nbsp;&nbsp;</button>
				</div>
			</form>
		</div>
	</div>
</div>