<div class="container-fluid"> 
	<!-- 页面标题 -->
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">业务人员管理</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<form rol="form" class="form-inline">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="用户名" ng-model="iForm.username" refresh-enabled="String">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="姓名"  ng-model="iForm.realname" refresh-enabled="String"/>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="联系电话" ng-model="iForm.telephone" refresh-enabled="String">
				</div>
				<div class="form-group">
					<select class="form-control" ng-model="iForm.enabled" ng-options="o.v as o.n for o in [{ n: '生效', v: true }, { n: '失效', v: false }]" refresh-enabled="Boolean">
						<option value="">请选择-状态</option>
					</select>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary" ng-click="search()">&nbsp;&nbsp;搜&nbsp;&nbsp;索&nbsp;&nbsp;</button>
					<button type="button" class="btn btn-primary" ui-sref="oam.admin-detail">&nbsp;&nbsp;新&nbsp;&nbsp;增&nbsp;&nbsp;</button>
				</div>
			</form>
		</div>
	</div>
	<br>

	<!-- 员工列表 -->
	<div class="row">
		<div class="col-lg-12 dataTable_wrapper table-responsive">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>用户名</th>
						<th>姓名</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in items">
						<td>{{item.username}}</td>
						<td>{{item.realname}}</td>
						<td>{{item.enabled?'生效':'失效'}}</td>
						<td>
							<a class="btn btn-xs btn-primary" ui-sref="oam.admin-detail({id:item.id})">编辑</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row" align="center">
		<div calss="col-lg-12">
			<pagination total-items="page.totalItems" ng-model="page.currentPage" items-per-page="page.itemsPerPage" max-size="10" class="pagination" boundary-links="true" ng-change="pageChanged()" first-text="首页" last-text="尾页" previous-text="上一页" next-text="下一页">
			</pagination>
		</div>
	</div>
</div>